files/Node-Red/flow control Rfid.json
[
    {
        "id": "0133ddad3250fc36",
        "type": "tab",
        "label": "Flow control Rfid",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7fbc35d697048a3b",
        "type": "mqtt in",
        "z": "0133ddad3250fc36",
        "name": "",
        "topic": "Proyecto/mqtt/PatrullasControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "41cca7b740fb663a",
                "f3d540dac3cbf5e6",
                "8a5fa8e8384adb8b"
            ]
        ]
    },
    {
        "id": "41cca7b740fb663a",
        "type": "function",
        "z": "0133ddad3250fc36",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "ed3c2e5dcfe64079",
                "c707b9690b61b73b"
            ]
        ]
    },
    {
        "id": "ed3c2e5dcfe64079",
        "type": "ui_text",
        "z": "0133ddad3250fc36",
        "group": "00514e42eb663cce",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "patrulla",
        "format": "{{msg.payload.patrulla}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "c707b9690b61b73b",
        "type": "ui_text",
        "z": "0133ddad3250fc36",
        "group": "00514e42eb663cce",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado",
        "format": "{{msg.payload.estado}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "c2b8fc3ba811108b",
        "type": "ui_text",
        "z": "0133ddad3250fc36",
        "group": "9adb1e211d944c52",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "089244b94881321a",
        "type": "ui_text",
        "z": "0133ddad3250fc36",
        "group": "9adb1e211d944c52",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Check_in",
        "format": "{{msg.payload.check_in}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "7611164589a3d8ba",
        "type": "ui_text",
        "z": "0133ddad3250fc36",
        "group": "9adb1e211d944c52",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Check_out",
        "format": "{{msg.payload.check_out}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "a6dafb3c1d3ce466",
        "type": "mqtt in",
        "z": "0133ddad3250fc36",
        "name": "",
        "topic": "Proyecto/mqtt/DatosControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1cf4394e3811019a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "cab73e6d9d588238",
                "f3d540dac3cbf5e6",
                "b18b5ce16ec92021"
            ]
        ]
    },
    {
        "id": "cab73e6d9d588238",
        "type": "function",
        "z": "0133ddad3250fc36",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "c2b8fc3ba811108b",
                "089244b94881321a",
                "7611164589a3d8ba",
                "aa3581f2475fcdf6"
            ]
        ]
    },
    {
        "id": "aa3581f2475fcdf6",
        "type": "ui_text",
        "z": "0133ddad3250fc36",
        "group": "9adb1e211d944c52",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "patrulla",
        "format": "{{msg.payload.patrulla}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "e52e52b165eca9b6",
        "type": "comment",
        "z": "0133ddad3250fc36",
        "name": "Control de Patrullas Zona Restringida",
        "info": "",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "731c32f11c259897",
        "type": "comment",
        "z": "0133ddad3250fc36",
        "name": "Control de Equipo de Seguridad",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "bc91d5b498b9e489",
        "type": "comment",
        "z": "0133ddad3250fc36",
        "name": "Flow Demostrativo",
        "info": "",
        "x": 590,
        "y": 20,
        "wires": []
    },
    {
        "id": "f3d540dac3cbf5e6",
        "type": "debug",
        "z": "0133ddad3250fc36",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a5fa8e8384adb8b",
        "type": "mqtt out",
        "z": "0133ddad3250fc36",
        "name": "",
        "topic": "Proyecto/mqtt/PatrullasControl",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a7ddd4d836a4cd1e",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "b18b5ce16ec92021",
        "type": "mqtt out",
        "z": "0133ddad3250fc36",
        "name": "",
        "topic": "Proyecto/mqtt/PatrullasControl",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a7ddd4d836a4cd1e",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "1cf4394e3811019a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "00514e42eb663cce",
        "type": "ui_group",
        "name": "Acceso a patrullas zona restringida",
        "tab": "f00f39f9184c9d25",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9adb1e211d944c52",
        "type": "ui_group",
        "name": "control de acceso",
        "tab": "f00f39f9184c9d25",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7ddd4d836a4cd1e",
        "type": "mqtt-broker",
        "name": "Broker.hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f00f39f9184c9d25",
        "type": "ui_tab",
        "name": "Control RFID",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]