files/Node-Red/flows completo.json
[
    {
        "id": "d6c0238f4ecb9fcd",
        "type": "tab",
        "label": "Entrada_Salida",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0a71e76aeedf1d8",
        "type": "exec",
        "z": "d6c0238f4ecb9fcd",
        "command": "python3 /home/andres/RecFacial/Codigo/arribo.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "b34b9f49a6ec5ddb"
            ],
            [
                "b34b9f49a6ec5ddb"
            ],
            [
                "b34b9f49a6ec5ddb"
            ]
        ]
    },
    {
        "id": "585176fe368cad3b",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Ejecutar el reconocimiento facial",
        "info": "",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "b34b9f49a6ec5ddb",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "d5bf3b3cb4e78dc6",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Escuchador MQTT",
        "info": "",
        "x": 110,
        "y": 440,
        "wires": []
    },
    {
        "id": "b0dfa24729a9685c",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "PaseDeLista/mqtt/entrada",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c0ed33ac6aef07c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "f358c081c188dd2c",
                "c06263d2d0fd3f89"
            ]
        ]
    },
    {
        "id": "f358c081c188dd2c",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "84f2b00e5e7a2d60",
        "type": "ui_button",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "group": "69140d0c740b78cf",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Entrada",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "c0a71e76aeedf1d8"
            ]
        ]
    },
    {
        "id": "c06263d2d0fd3f89",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "best match path",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "f2bce85cace1091b"
            ]
        ]
    },
    {
        "id": "e49a6843273ee220",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 720,
        "wires": []
    },
    {
        "id": "86ad7ad756cb9fb9",
        "type": "json",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "e49a6843273ee220",
                "de1291fe7b352c49",
                "2301cddbb2223814",
                "43be59f2b5174cd3",
                "e31826ea673149fa",
                "a0397ecddb6d2c97",
                "688756d49e022969"
            ]
        ]
    },
    {
        "id": "de1291fe7b352c49",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload.NOMBRE}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1360,
        "y": 560,
        "wires": []
    },
    {
        "id": "43be59f2b5174cd3",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Entrada",
        "format": "{{msg.payload.ENTRADA}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "2301cddbb2223814",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Salida",
        "format": "{{msg.payload.SALIDA}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1350,
        "y": 640,
        "wires": []
    },
    {
        "id": "57909e3646ba014f",
        "type": "file in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 880,
        "y": 560,
        "wires": [
            [
                "86ad7ad756cb9fb9"
            ]
        ]
    },
    {
        "id": "64dae48a4ec1cec0",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Cámara",
        "info": "",
        "x": 70,
        "y": 680,
        "wires": []
    },
    {
        "id": "8d5ca906dc809193",
        "type": "ui_template",
        "z": "d6c0238f4ecb9fcd",
        "group": "69140d0c740b78cf",
        "name": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<iframe id=\"Video\" title=\"Video\" width=\"320\" height=\"240\"\n    src=\"http://192.168.1.79:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 80,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f2bce85cace1091b",
        "type": "string",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "methods": [
            {
                "name": "delRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": ""
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "arribo.json"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "57909e3646ba014f"
            ]
        ]
    },
    {
        "id": "f3ac6f6dfdb8b056",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d2d83022cdb054b",
        "type": "exec",
        "z": "d6c0238f4ecb9fcd",
        "command": "python3 /home/andres/RecFacial/Codigo/salida.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "f3ac6f6dfdb8b056"
            ],
            [
                "f3ac6f6dfdb8b056"
            ],
            [
                "f3ac6f6dfdb8b056"
            ]
        ]
    },
    {
        "id": "2b979e9335c1b293",
        "type": "ui_button",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "group": "69140d0c740b78cf",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Salida",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "9d2d83022cdb054b"
            ]
        ]
    },
    {
        "id": "70d0faeb2e2eb5bb",
        "type": "string",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "methods": [
            {
                "name": "delRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": ""
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "salida.json"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "4d95c3eaa0045c96"
            ]
        ]
    },
    {
        "id": "4d95c3eaa0045c96",
        "type": "file in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "filename": "payload",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 880,
        "y": 620,
        "wires": [
            [
                "f64ff3afebadc40b"
            ]
        ]
    },
    {
        "id": "852d8f9c761a6ea8",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "PaseDeLista/mqtt/salida",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9c0ed33ac6aef07c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "fc7750da7d4a625d"
            ]
        ]
    },
    {
        "id": "f64ff3afebadc40b",
        "type": "json",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "de1291fe7b352c49",
                "43be59f2b5174cd3",
                "2301cddbb2223814",
                "e49a6843273ee220",
                "e31826ea673149fa",
                "a0397ecddb6d2c97",
                "688756d49e022969"
            ]
        ]
    },
    {
        "id": "fc7750da7d4a625d",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "best match path 2",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "70d0faeb2e2eb5bb"
            ]
        ]
    },
    {
        "id": "e31826ea673149fa",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patrulla",
        "format": "{{msg.payload.PATRULLA}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1360,
        "y": 680,
        "wires": []
    },
    {
        "id": "9b1a3ea34d072e47",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "fc26db96eaa36d83",
        "name": "Entrada-Salida",
        "x": 1320,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "a0397ecddb6d2c97",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha - Hora",
        "format": "{{msg.payload.FECHA_HORA}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1370,
        "y": 520,
        "wires": []
    },
    {
        "id": "688756d49e022969",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 1",
        "func": "msg.topic = \"INSERT INTO Entrada_Salida (FECHA_HORA, NOMBRE, ENTRADA, SALIDA, PATRULLA) VALUES (\" +\n    \"'\" + msg.payload.FECHA_HORA + \"', \" +\n    \"'\" + msg.payload.NOMBRE + \"', \" +\n    \"'\" + msg.payload.ENTRADA + \"', \" +\n    \"'\" + msg.payload.SALIDA + \"', \" +\n    \"'\" + msg.payload.PATRULLA + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 780,
        "wires": [
            [
                "9b1a3ea34d072e47"
            ]
        ]
    },
    {
        "id": "079d4b48666c982c",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "Proyecto/mqtt/PatrullasControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7ddd4d836a4cd1e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 920,
        "wires": [
            [
                "7416a533323694ea"
            ]
        ]
    },
    {
        "id": "7416a533323694ea",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 8",
        "func": "// Obtener el mensaje JSON entrante\nconst mensajeJSONEntrante = msg.payload;\n\n//Define el huso horario de Chihuahua\nvar timeZone = 'America/Chihuahua';\n\n// Obtiene la fecha y hora actual en el huso horario de Chihuahua\nvar chihuahuaTime = new Date().toLocaleString('en-US', { timeZone: timeZone });\n\n// Formatea la fecha y hora según el formato deseado (DD-MM-YYYY HH:mm)\nvar date = new Date(chihuahuaTime);\nvar formattedDate = ('0' + date.getDate()).slice(-2) + '-' +\n    ('0' + (date.getMonth() + 1)).slice(-2) + '-' +\n    date.getFullYear() + ' ' +\n    ('0' + date.getHours()).slice(-2) + ':' +\n    ('0' + date.getMinutes()).slice(-2);\n\n// Agregar la fecha y hora formateada al JSON\nmensajeJSONEntrante.fecha_hora = formattedDate;\n\n// Enviar el JSON modificado\nmsg.payload = mensajeJSONEntrante;\n\n// Devolver el mensaje modificado\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 920,
        "wires": [
            [
                "e038d41b50453aab",
                "3ee87c93ae11cd8f",
                "4e9a40b32a0795f0",
                "f65df8bb3aba6a88"
            ]
        ]
    },
    {
        "id": "e038d41b50453aab",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "12c4d960a0a01653",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "patrulla",
        "format": "{{msg.payload.patrulla}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 780,
        "y": 920,
        "wires": []
    },
    {
        "id": "3ee87c93ae11cd8f",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "12c4d960a0a01653",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado",
        "format": "{{msg.payload.estado}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "222a5475f322420b",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "96926d92fbca60a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f33477cdecbc19de",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "96926d92fbca60a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Check_in",
        "format": "{{msg.payload.check_in}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 1240,
        "wires": []
    },
    {
        "id": "e158e311053b81ba",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "96926d92fbca60a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Check_out",
        "format": "{{msg.payload.check_out}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 830,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3b4af0779a77df51",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "Proyecto/mqtt/DatosControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a7ddd4d836a4cd1e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "1895d5e0c144c6eb"
            ]
        ]
    },
    {
        "id": "1895d5e0c144c6eb",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 9",
        "func": "// Obtener el mensaje JSON entrante\nconst mensajeJSONEntrante = msg.payload;\n\n//Define el huso horario de Chihuahua\nvar timeZone = 'America/Chihuahua';\n\n// Obtiene la fecha y hora actual en el huso horario de Chihuahua\nvar chihuahuaTime = new Date().toLocaleString('en-US', { timeZone: timeZone });\n\n// Formatea la fecha y hora según el formato deseado (DD-MM-YYYY HH:mm)\nvar date = new Date(chihuahuaTime);\nvar formattedDate = ('0' + date.getDate()).slice(-2) + '-' +\n    ('0' + (date.getMonth() + 1)).slice(-2) + '-' +\n    date.getFullYear() + ' ' +\n    ('0' + date.getHours()).slice(-2) + ':' +\n    ('0' + date.getMinutes()).slice(-2);\n\n// Agregar la fecha y hora formateada al JSON\nmensajeJSONEntrante.fecha_hora = formattedDate;\n\n// Enviar el JSON modificado\nmsg.payload = mensajeJSONEntrante;\n\n// Devolver el mensaje modificado\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1200,
        "wires": [
            [
                "222a5475f322420b",
                "f33477cdecbc19de",
                "e158e311053b81ba",
                "a08590d97f1c0e2a",
                "eb905dd8be1ec6bd",
                "786f75b6e333983f"
            ]
        ]
    },
    {
        "id": "a08590d97f1c0e2a",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "96926d92fbca60a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "patrulla",
        "format": "{{msg.payload.patrulla}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c130bc5af7df5f95",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Control de Patrullas Zona Restringida",
        "info": "",
        "x": 190,
        "y": 860,
        "wires": []
    },
    {
        "id": "23bf2124be65e886",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Control de Equipo de Seguridad",
        "info": "",
        "x": 170,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4e9a40b32a0795f0",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "12c4d960a0a01653",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha-Hora",
        "format": "{{msg.payload.fecha_hora}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 880,
        "wires": []
    },
    {
        "id": "eb905dd8be1ec6bd",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "96926d92fbca60a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha-Hora",
        "format": "{{msg.payload.fecha_hora}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "56fdaddf6cc817f0",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "fc26db96eaa36d83",
        "name": "",
        "x": 710,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1f8731bb105f2f6b",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "fc26db96eaa36d83",
        "name": "",
        "x": 710,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "f65df8bb3aba6a88",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 10",
        "func": "msg.topic = \"INSERT INTO Patrullas (FECHA_HORA, PATRULLA, ESTADO) VALUES (\" +\n    \"'\" + msg.payload.fecha_hora + \"', \" +\n    \"'\" + msg.payload.patrulla + \"', \" +\n    \"'\" + msg.payload.estado + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "56fdaddf6cc817f0"
            ]
        ]
    },
    {
        "id": "786f75b6e333983f",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 11",
        "func": "msg.topic = \"INSERT INTO RegistroSeguridad (FECHA_HORA, NOMBRE, CHECK_IN, CHECK_OUT, PATRULLA) VALUES (\" +\n    \"'\" + msg.payload.fecha_hora + \"', \" +\n    \"'\" + msg.payload.nombre + \"', \" +\n    \"'\" + msg.payload.check_in + \"', \" +\n    \"'\" + msg.payload.check_out + \"', \" +\n    \"'\" + msg.payload.patrulla + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1100,
        "wires": [
            [
                "1f8731bb105f2f6b"
            ]
        ]
    },
    {
        "id": "7db19ffd63de6a8a",
        "type": "ui_spacer",
        "z": "d6c0238f4ecb9fcd",
        "name": "spacer",
        "group": "69140d0c740b78cf",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "9c0ed33ac6aef07c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "69140d0c740b78cf",
        "type": "ui_group",
        "name": "Reconocimiento facial",
        "tab": "f3c4a2974172cb0f",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed2ebf013ca997cc",
        "type": "ui_group",
        "name": "Datos",
        "tab": "f3c4a2974172cb0f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc26db96eaa36d83",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ProyectoPoliciaco",
        "tz": "-05:00",
        "charset": "UTF8"
    },
    {
        "id": "a7ddd4d836a4cd1e",
        "type": "mqtt-broker",
        "name": "Broker.hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "12c4d960a0a01653",
        "type": "ui_group",
        "name": "Acceso a patrullas",
        "tab": "f3c4a2974172cb0f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96926d92fbca60a6",
        "type": "ui_group",
        "name": "Control de acceso",
        "tab": "f3c4a2974172cb0f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3c4a2974172cb0f",
        "type": "ui_tab",
        "name": "Entrada_salida",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]